PORT=3001
JWT_SECRET=dev-secret-change-me
MOCK_MODE=true

# SQL Server
SQL_SERVER=localhost
SQL_PORT=1433
SQL_USER=sa
SQL_PASSWORD=Mysql123
SQL_DATABASE=inventario_itu
SQL_ENCRYPT=false
SQL_TRUST_SERVER_CERTIFICATE=true

# MongoDB
MONGO_URI=mongodb://egi_user:EgiMongo2026!@localhost:27017/inventario_itu?authSource=admin
MONGO_DB_NAME=inventario

# LDAP / Active Directory
LDAP_URL=ldap://localhost:389
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=
LDAP_SEARCH_BASE=dc=itu,dc=local
LDAP_SEARCH_FILTER=(sAMAccountName={username})
